In [5]:
import numpy as np
import pandas as pd

normal_distrib = np.random.normal(0, 10, 10000)
normal_distrib = pd.DataFrame(normal_distrib)
normal_distrib.describe(percentiles=[0.25, 0.5, 0.75, 0.021, 0.136, 0.5 + 0.341, 0.5 + 0.341 + 0.136])

                  0
count  10000.000000
mean      -0.025461
std       10.129521
min      -45.314478
2.1%     -20.424220
13.6%    -11.139923
25%       -6.929251
50%        0.029532
75%        6.739919
84.1%     10.180900
97.7%     20.163629
max       41.373512